h1{
    color:rgb(0, 101, 253); /* se aplica en todo el documento     */
}
p{
    color:rgb(255, 0, 0);
    /*background-color:rgb(0, 0, 0); */
    font-size:x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
