.titulo{
    color: #f72585;
    text-align: center;
}

.marco{
    /*se eliminan los marcos del iframe*/
    width: 100%;
    height: 100%;
    border: 1px solid #f72585;
}

.centrar{
    text-align: center;
}

.boton{
    border: 2px solid #457b9d;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

.boton:hover{
    background-color: #457b9d;
    color: white;
}